.watched-each-container{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 18px;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
  border-bottom: 0.7px solid var(--color-background-100);
}

.watched-each-container:last-child {
  border-bottom: none; 
}

.watch-each-img-container{
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 100%;
} 

.watch-each-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.watched-each-container-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watch-each-title{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
  margin: 0;
}

.watch-each-subtile{
  display: flex;
  gap: 7px;
  margin-top: 2px;
  align-items: center;
}

.watch-each-subtile p{
  color: var(--color-text);
}

.btn-delete{
  aspect-ratio: 1;
  background-color: var(--color-red);
  border: none;
  border-radius: 50%;
  color: var(--color-background-900);
  cursor: pointer;
  font-size: .8rem;
  font-weight: 700;
  height: 1.2rem;
  transition: all .3s;
  padding: 0;
}